html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: $font-family-base;
  color: $font-color;
  -webkit-text-size-adjust: 100%;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: 80vh;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  font-size: 2.4rem;
}

// add some code...