// container
.container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

// text
.text-center {
  text-align: center;
}

// flex
.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

// hidden
.hidden {
  display: none !important;
}

.pc-hidden {
  @include pc {
    display: none !important;
  }
}

.sp-hidden {
  @include sp {
    display: none !important;
  }
}
