// colors
$font-color: #333;
$primary-color: #db2d43;
$footer-bg-color: #f8f8f8;

// font
$font-family-base: "Hiragino Sans", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;